:root{
    --accent-color:#F38181;
    --main-color:#95E1D3;
    --title-color:#333333;
    --text-color:#B6B6B6;
    --subscribe-btn-color:rgba(149, 225, 211, 100%);

}

.active{
    color:var(--accent-color)
    
}
.body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header-logo{
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;
}
.nav-link{
    color: var(--accent-color);
    font-size: 14px;
    text-transform: uppercase;
}
.nav_link{
    color: var(--main-color);
}
.span{
    font-family: Kaushan Script;
    color: var(--title-color);
    font-size: 24px;
}